@import "../../../styles/partials/_variables"

$storyPadding: 80px
$cardPadding: 28px
$transition: all 250ms ease

.story
  align-items: center
  color: black
  display: flex
  height: 100vh
  justify-content: center
  padding: $storyPadding calc($storyPadding / 2)
  position: relative
  scroll-snap-align: center
  width: 100vw

  @media ($smallScreen)
    padding: 0 40px

  &.favorite
    .title
      button
        color: $color

.card
  background-color: rgba(255,255,255,1.8)
  display: flex
  flex-direction: column
  margin-top: auto
  max-height: 400px
  overflow: hidden
  padding: $cardPadding
  position: relative
  transition: $transition
  z-index: 4

  @media ($notSmallScreen)
    &.left
      margin-right: auto

    &.right
      margin-left: auto

  @media ($smallScreen)
    justify-content: space-between
    margin-bottom: 8px
    max-height: min(240px, 40vh)
    width: 100%

.card.collapsed
  max-width: $cardPadding
  overflow: hidden

  @media ($notSmallScreen)
    &.left
      margin-left: calc($storyPadding / 2 * -1)
      padding-left: 0

    &.right
      margin-right: calc($storyPadding / 2 * -1)
      padding-right: 0

  .title,
  .description,
  .location
    opacity: 0

  .collapse > i
    transform: rotate(180deg)

    @media ($smallScreen)
      transform: rotate(270deg)

  @media ($smallScreen)
    margin-right: 0
    max-width: 100%
    padding-right: $cardPadding

    .title
      opacity: 1

    .location,
    .description
      max-height: 0

.collapse
  align-items: center
  cursor: pointer
  display: flex
  height: 100%
  justify-content: center
  position: absolute
  top: 0
  width: $cardPadding

  i
    align-items: center
    display: flex

  & > i
    svg
      width: 8px

    @media ($smallScreen)
      transform: rotate(90deg)

  @media ($smallScreen)
    display: none
    left: 0
    width: 100%
    height: $cardPadding

@media ($notSmallScreen)
  .card.left
    .collapse
      right: 0
      transform: rotate(180deg)

  .card.right
    .collapse
      left: 0

.title
  display: flex
  justify-content: space-between

  button
    margin-left: 20px
    border: none
    background: transparent
    cursor: pointer
    color: $grayMedium

.location
  color: $grayMedium
  line-height: 16px
  max-height: 32px

  @media ($smallScreen)
    transition: $transition

.description
  display: flex
  margin-top: 12px
  overflow: hidden

  @media ($smallScreen)
    transition: $transition
    max-height: 400px

    & + .collapse
      display: flex

.title,
.description
  width: 400px

  @media ($smallScreen)
    width: 100%

.description-scroll
  overflow: auto
  white-space: pre-line

.carousel
  background-color: red

.full-screen
  background: black
  display: flex
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 8

.exit-button
  background-color: transparent
  border: none
  cursor: pointer
  padding: 20px
  position: absolute

  svg line
    stroke: white

.photos
  display: flex
  height: 100vh
  overflow-y: auto
  position: absolute
  width: 100vw
  z-index: 0

  @media ($smallScreen)
    scroll-snap-type: x mandatory

.photo
  cursor: pointer
  display: flex
  min-width: 100vw
  padding: 40px

  @media ($smallScreen)
    padding: 12px
    scroll-snap-align: center

.image
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  width: 100vw
