@import "../../../styles/partials/_variables"

.menu-wrapper
  display: none
  left: 0
  position: fixed
  top: 0
  height: 100vh
  z-index: 4
  justify-content: center

  &.home.floating
    display: flex

  &:not(.home).fixed
    display: flex

  @media ($smallScreen)
    &.fixed
      display: none !important
    &.floating
      display: flex

.menu-wrapper.fixed
  padding: 24px
  width: $menuWidth
  .menu-toggle
    display: none

.menu-wrapper.floating
  .menu
    padding: 44px
    width: 100vw

    @media ($smallScreen)
      padding: 100px

    &.animate-out
      animation: out-animation 250ms ease-out
      animation-fill-mode: forwards
    &.animate-in
      width: 100vw
      animation: in-animation 250ms ease-in
    .menu-list
      text-align: center

.menu-wrapper.fixed
  .menu-logo
    height: auto
    max-width: 120px

.menu-wrapper.floating
  .menu-logo
    height: auto
    max-width: 200px

    @media ($smallScreen)
      max-width: 132px

.menu
  align-items: center
  background-color: rgba(255,255,255,0.96)
  display: flex
  flex-direction: column
  justify-content: space-between

  ul
    list-style: none
    padding: 0

.menu-toggle
  position: absolute
  top: 20px
  left: 20px
  cursor: pointer
  background: transparent
  border: none
  padding: 0

.menu-icon
  display: flex
  width: 20px

.menu-list
  font-size: 14px
  line-height: 28px

.locales-list
  display: flex

  li:first-child
    span
      margin-left: 0

  li:last-child
    span
      margin-right: 0

.locale
  margin: 0 4px
  text-transform: uppercase

  strong
    font-weight: 600

.social-media-list
  display: flex
  margin: 0

.social-media-item
  display: flex
  margin: 0 12px

  @media ($smallScreen)
    margin: 0 8px

  i svg path
    fill: $grayDark
    transition: all 250ms ease

  &:hover
    svg path
      fill: $color

  > a, i
    display: flex
    align-items: center

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

@keyframes in-animation
  0%
    opacity: 0
    visibility: hidden

  100%
    opacity: 1
    visibility: visible

@keyframes out-animation
  0%
    opacity: 1

  100%
    opacity: 0
    visibility: hidden
