@import "../../../styles/partials/_variables"

.menu-wrapper
  position: fixed
  top: 0
  left: 0
  z-index: 4

  &.fixed
    width: 240px
    .menu-toggle
      visibility: hidden

  &.home.fixed
    display: none

  @media ($smallScreen)
    &.fixed
      display: none

  &.floating
    &:not(.open) .menu
      width: 0
    .menu
      width: 100vw
      &.animate-out
        animation: out-animation 250ms ease-out
        animation-fill-mode: forwards
    &.open
      .menu
        &.animate-in
          width: 100vw
          animation: in-animation 250ms ease-in

.menu
  height: 100vh
  padding: 20px
  background-color: rgba(255,255,255,0.96)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  transition: width 250ms ease-out

  // .open
  //   width: 100vw

.menu-toggle
  position: absolute
  top: 20px
  left: 20px
  cursor: pointer
  background: transparent
  border: none
  padding: 0

.menu-icon
  display: flex
  width: 20px

.menu-list
  list-style: none
  padding: 0
  font-size: 14px
  line-height: 28px

.locales-list
  list-style: none
  display: flex
  padding: 0

  li:first-child
    span
      margin-left: 0

  li:last-child
    span
      margin-right: 0

.locale
  margin: 0 4px
  text-transform: uppercase

@keyframes in-animation
  0%
    opacity: 0
    visibility: hidden

  100%
    opacity: 1
    visibility: visible

@keyframes out-animation
  0%
    opacity: 1

  100%
    opacity: 0
    visibility: hidden
