@import "../../styles/partials/_variables"

.container
  padding: 0
  padding-left: $menuWidth

  @media ($smallScreen)
    padding-left: 0

  &.home
    padding-left: 0

.main
  min-height: 100vh
  padding: 0
  display: flex
  max-height: 100vh
  overflow: hidden

  @media ($smallScreen)
    min-height: 100%
