@import "./partials/_variables"

html,
body
  font-family: Quicksand,sans-serif
  font-size: 12px
  line-height: 2rem
  margin: 0
  padding: 0

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent

h4
  color: $color
  font-family: Arapey, serif
  font-size: 26px
  font-weight: 100
  margin: 0

  @media ($smallScreen)
    font-size: 20px

h2
  color: $color
  font-family: Arapey, serif
  font-size: 36px
  font-weight: 400
  margin: 0

  @media ($smallScreen)
    font-size: 32px

p
  margin: 0

.page
  padding: 60px
  width: 100%

  @media ($smallScreen)
    padding: 20px

.header
  margin-bottom: 24px

.heart-icon
  display: flex
  width: 16px

  svg > path
    transition: all 250ms ease
    fill: transparent
    stroke: $grayDarkest

  &:hover,
  &.active
    svg > path
      stroke: $color
      fill: $color
