@import "./partials/_variables"

html,
body
  padding: 0
  margin: 0
  font-size: 12px
  font-family: Quicksand,sans-serif
  line-height: 2rem

body
  scroll-behavior: smooth

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

h4
  color: $color
  font-family: Arapey, serif
  font-size: 26px
  font-weight: 100
  margin: 0

h2
  color: $color
  font-family: Arapey, serif
  font-size: 36px
  font-weight: 400
  margin: 0

.page
  padding: 80px
  width: 100%

.header
  margin-bottom: 24px
